<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <%- include('../partials/sideMenuAdmin.ejs'); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->

        <%- include('../partials/top_nav.ejs'); %>
          <!-- End of Topbar -->
           <!-- Begin Page Content -->
            <div class="container">

              <!-- Outer Row -->
              <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9= mt-5">

                  <div class="card o-hidden border-0 shadow-lg ">
                    <div class="card-body p-3">
                      <!-- Nested Row within Card Body -->
                      <section id="no-report">
                        <div class="card-body">
                          <form action="/updateAppointment/:id" method="POST" autocomplete="off">
                            <div>
                              <div class="upload_card card">
                                <%- include('../partials/messages.ejs'); %>
                                  <div class="card-body">
                                    <div>
                                      <label class="lead" style="font-size: 18px" for="title">Appointment Date</label>
                                      <input type="text" name="appointmentDate" id="appointmentDate"
                                        placeholder="Select date" class="form-control datepicker">
                                    </div>

                                    <br />
                                    <div>
                                      <label class="lead" style="font-size: 18px" for="title">Appointment Time</label>
                                      <input type="text" name="appointmentTime" id="appointmentTime"
                                        placeholder="Select time" class="form-control">
                                    </div>




                                    <br />
                                    <button type="submit" class="btn btn-success">
                                      Update Appointment
                                    </button>
                                  </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </section>
                    </div>
                  </div>

                </div>

              </div>



              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

    <script>
      flatpickr("#appointmentDate", {
        minDate: "today",
        enableTime: false,
        dateFormat: "Y-m-d",
      });

      flatpickr("#appointmentTime", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: false,
      });
    </script>