<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="/img/title_logo.svg" alt="" width="100%">
        </div>
        <div class=" mx-3">E-Hospital</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item"><a href="/doctor/viewpatients" class="nav-link"><i id="icon" class="fas fa-procedures"></i>
            View
            Patients</a></li>
    </li>



    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="far fa-address-card"></i>
            <span>See Reports</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a class="collapse-item" href="/doctor/availability?selectedItem=Availability">Availability</a>
                <a class="collapse-item" href="/doctor/appointment?selectedItem=Patient Appointment">Patient
                    Appointment</a>

            </div>

        </div>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Tables -->



    <li class="nav-item">
        <a href="/doctor/Settings" class="nav-link">
            <i id="icon" class="fas fa-cogs"></i>
            Settings</a>
    </li>

    <!-- <li class="nav-item">
            <a href="/sendFeedbacks?selectedItem=SEND FEEDBACK" class="nav-link">
            <i id="icon" class="fas fa-comments"></i>
            Send Feedbacks</a>
        </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">




</ul>
<!-- End of Sidebar -->