<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admindashboard">
    <div class="sidebar-brand-icon">
      <img src="/img/title_logo.svg" alt="" width="100%">
    </div>
    <div class=" mx-3">E-Hospital</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/admindashboard?selectedItem=ADMIN DASHBOARD">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Patient Section
  </div>


  <li class="nav-item"><a href="/viewpatients?selectedItem=VIEW PATIENT" class="nav-link"><i
        class="far fa-address-card"></i> <span>View patients</span> </a></li></i>
  <li class="nav-item"><a href="/seefeedbacks?selectedItem=VIEW FEEDBACK" class="nav-link"><i
        class="fas fa-comment-dots"></i> <span>See feedbacks</span> </a></li></i>
  <li class="nav-item"><a href="/seeAppointments?selectedItem=VIEW APPOINTMENT" class="nav-link"><i
        class="fas fa-comment-dots"></i> <span>See Appointments</span> </a></li></i>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Doctor Section
  </div>

  <!-- Nav Item - View Doctors -->
  <li class="nav-item">
    <a class="nav-link" href="/adddoc?selectedItem=ADD DOCTORS">
      <i class="far fa-address-card"></i>
      <span>Add Doctors</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/viewdoctors?selectedItem=VIEW DOCTORS">
      <i class="far fa-address-card"></i>
      <span>View Doctors</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    Notification Section
  </div>
  <li class="nav-item">
    <a class="nav-link" href="/adminPushNotification?selectedItem=ADD NOTIFICATION">
      <i class="far fa-address-card"></i>
      <span>Push Notification</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewNotifications?selectedItem=VIEW NOTIFICATION">
      <i class="far fa-address-card"></i>
      <span>View Notification</span></a>
  </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    Message Section
  </div>
  <li class="nav-item">
    <a class="nav-link" href="/pushMessage?selectedItem=Send Message">
      <i class="far fa-address-card"></i>
      <span>Push Message</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewNotifications?selectedItem=VIEW NOTIFICATION">
      <i class="far fa-address-card"></i>
      <span>View Notification</span></a>
  </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">
      Generate
    </div>
    <li class="nav-item">
      <a class="nav-link" href="/generate?selectedItem=GENERATE REGISTRATION NUMBER">
        <i class="far fa-address-card"></i>
        <span>Registration Number</span></a>
    </li>
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>


</ul>
<!-- End of Sidebar -->