<%- include('../partials/header.ejs'); %> <%- include('../partials/sideMenu.ejs'); %>

    <style>
      .appointment_card {
        background: rgba(180, 175, 175, 0.137);
        color: white;
        border: 3px solid rgba(255, 255, 255, 0.13);
      }
    </style>

    <!-- Appointment button -->

    <div class="scrollable" id="data">
      <h4 class="title"><i class="fas fa-user-clock"></i> Cancel Appointment</h4>
      <br />

      <form action="/cancelAppointment/:id" method="POST">
        <div class="col-sm-4">
          <div class="appointment_card card">
            <div class="card-body">
              <br>
              <p style="font-size: 17px;"><i class="fas fa-question-circle"></i> Are you sure you want to cancel that
                appointment?</p>
              <hr>
              <button type="submit" id="btn_appoint" class="btn  btn-success">
                Yes, Cancel Appointment
              </button>
              <a href="/myAppointments" class="btn btn-danger" id="btn_no">No, Go back</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>